<div class="footer">
  <LinkTo @route="index" class="item">
    {{svg-jar 'icons/home' width="30px" class='icon'}}
    <div class="text">Home</div>
  </LinkTo>
  <LinkTo @route="people" class="item">
    {{svg-jar 'icons/people' width="30px" class='icon'}}
    <div class="text">People</div>
  </LinkTo>
  <LinkTo @route='work' class="item">
    {{svg-jar 'icons/me' width="30px" class='icon'}}
    <div class="text">My Work</div>
  </LinkTo>
  <LinkTo @route="settings" class="item">
    {{svg-jar 'icons/settings' width="30px" class='icon'}}
    <div class="text">Settings</div>
  </LinkTo>
  <LinkTo @route="system" class="item">
    {{svg-jar 'icons/debug' width="30px" class='icon'}}
    <div class="text">System</div>
  </LinkTo>
</div>