<div class="footer">
  <div class="item">
    {{svg-jar 'icons/home' class='icon'}}
    <LinkTo @route="index" class="link">Home</LinkTo>
  </div>
  <div class="item">
    {{svg-jar 'icons/people' class='icon'}}
    <LinkTo @route="people" class="link">People</LinkTo>
  </div>
  <div class="item">
    {{svg-jar 'icons/me' class='icon'}}
    <LinkTo @route="work" class="link">My Work</LinkTo>
  </div>
  <div class="item">
    {{svg-jar 'icons/settings' class='icon'}}
    <LinkTo @route="settings" class="link">Settings</LinkTo>
  </div>
  <div class="item">
    {{svg-jar 'icons/debug' class='icon'}}
    <LinkTo @route="system" class="icon">System</LinkTo>
  </div>
</div>